body{
    /* background-image: url("https://media.giphy.com/media/l378rFEHLWG6khbCE/giphy-downsized.gif"); */
    background-image: url("https://media.giphy.com/media/OqWm9N0jJoqCQ/giphy.gif");
    
    background-repeat: no-repeat;
    background-size: cover;
}
#info{
    align-content: center;
    height: 100px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    padding:30px;
    margin-bottom: 40px;
    align-content: center;

    
}

/* .GameStats{
    text-align: center;
    display: inline-block;
}

.leftSide{
    text-align: left;
    display: inline-block;
}
*/

.rightSide{
  display: inline;
  position: absolute;
  top: 20px;
  right: 30px;
    
   
    
} 

#timerBox{
  display:none;
}

.btn{
  font-weight: bolder;
  font-size: 1.2rem;
}


#main{
    width: 80vw;
    height: 100%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    
}

.Description{
  margin: 0 auto;
  padding: 20px;
  background-color:azure;

}

.DivstartGame, .Description{
  margin:20px auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}



.cardImg{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 15px;
    margin: 10px;
    
}

.cardImg:hover{
  animation-duration: 2s;
  animation-delay: 1s;
}

.imgSize{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.animatedCard{
    animation-duration: 2s; 
    /* animation-delay: 1s; */
    
}

.evil{
    border: 10px solid red;
}


.divider{
  border: 5px solid blueviolet;
  margin-bottom: 30px;
}
/* The side navigation menu */
.sidenav {
    /* padding: 10px; */
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    color:rgb(255, 255,255);
    font-weight: bold;
    font-size: 1.4em;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  .mainSidenav{
    width: 90%;
    margin: 0 auto;
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  /* #main {
    transition: margin-left .5s;
    padding: 20px;
  } */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


